<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Smart Grocery List</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href=""><i class="material-icons">add_circle</i> Add New</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Smart Grocery List</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="https://github.com/TheDigitalNinja/Smart-Grocery-List/issues/new" target="_blank">Report Issue</a>
            <a class="mdl-navigation__link" href="/item" target="_blank">API</a>
            <a class="mdl-navigation__link" href="https://github.com/TheDigitalNinja/Smart-Grocery-List" target="_blank">Github</a>
        </nav>
    </div>


    <main class="mdl-layout__content"><!-- content -->
        <div class="page-content">

            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--4-col">

                    <!-- Tabs -->
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#shopping-panel" class="mdl-tabs__tab">Shopping</a>
                            <a href="#groceries-panel" class="mdl-tabs__tab is-active">Groceries</a>
                        </div>
                        <div class="mdl-tabs__panel" id="shopping-panel">
                            <p>Shopping</p>
                        </div>
                        <div class="mdl-tabs__panel is-active" id="groceries-panel">


                            <!-- List -->
                            <ul class="mdl-list">
                                <li *ngIf="items.length === 0" class="mdl-list__item">No grocery items.</li>

                                <li *ngFor="let item of items" class="mdl-list__item">
                                    {{ item }}
                                </li>

                                <li class="mdl-list__item">
                                    <!-- Add -->
                                    <form action="#" (ngSubmit)="addItem()" #itemForm="ngForm">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="addGroceryInput" [(ngModel)]="newItem.name" autocomplete="off">
                                            <label class="mdl-textfield__label" for="addGroceryInput">Add grocery list item</label>
                                        </div>
                                    </form>
                                </li>
                            </ul>


                        </div>
                    </div>

                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

        </div>
    </main><!-- end content -->


    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Smart Grocery List</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="https://github.com/TheDigitalNinja/Smart-Grocery-List/issues/new" target="_blank">Report Issue</a></li>
                <li><a href="/item" target="_blank">API</a></li>
                <li><a href="https://github.com/TheDigitalNinja/Smart-Grocery-List" target="_blank">Github</a></li>
            </ul>
        </div>
    </footer>
</div>






